{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container mt-5">
    <div class="row">

        <div class="col-lg-4">
            <div class="card shadow-sm" >
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title m-0">Chi tiết bài thi</h5>
                        <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editExamModal"><i class="fas fa-edit me-2"></i>Chỉnh sửa</a>

                    </div>
          

                  <hr>
                  <ul>
                              
                    <li>Tên bài thi: {{ exam.title }} </li>
                    <li>Môn thi: {{ exam.subject.title }}</li>

                    <li>Trạng thái: {{ exam.get_status_display }} </li>
                    <li>Số học viên đã tham gia thi: {{ exam.studentexam_set.all.count }}</li>
    
                    <li>Ngày tạo: {{ exam.date_created }}</li>
                    <li>Người tạo: {{ exam.teacher }}</li>
                    <li>Thời gian làm bài thi: {{ exam.duration }} phút</li>
                    <li>Số câu hỏi: {{ exam.question_set.all.count }}</li>
    
    
                  </ul>
                </div>
              </div>
  
  <!-- Modal -->
  <div class="modal fade" id="editExamModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa bài thi</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" >
            {% csrf_token %}
        <div class="modal-body">
           

          {{ exam_form }}


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="submit" class="btn btn-danger" name="deleteExamBtn">Xóa bài thi</button>
          <button type="submit" class="btn btn-primary" name="editExamBtn">Cập nhập</button>
        </div>
    </form>

      </div>
    </div>
  </div>


    
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title m-0">Danh sách câu hỏi</h5>
                        <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addQuestionModal"><i class="fas fa-plus me-2"></i>Thêm câu hỏi</a>

                    </div>
         
                    <hr>
                    <p class="card-text">

                        <ol>
                            {% for question in questions %}
                            <a href="#"  class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#questionModal{{question.id}}"> <li> {{ question.title }}</li> </a>


<!-- Modal -->
<div class="modal fade" id="questionModal{{question.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa câu hỏi</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form method="post" id="editQuestionForm" class="needs-validation" novalidate>
        {% csrf_token %}
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Câu hỏi</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="questionTitle" required >{{ question.title }}
          </textarea>
          <div class="invalid-feedback">
            Thêm nội dung câu hỏi
          </div>
        </div>
<p>Câu trả lời - Tích chọn vào câu trả lời đúng</p>
{% for choice in question.choice_set.all %}
<div class="form-check mt-2">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault{{choice.id}}" value="{{choice.id}}" required {% if choice.is_correct %} checked {% endif %}>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="choice_title{{choice.id}}" required>{{ choice.title }}</textarea>
    <div class="invalid-feedback">
      Thêm câu trả lời
    </div>
</div>

{% endfor %}
  <input type="hidden" id="radioChoiceUpdateQuestion" name="is_correct_check">



<!-- Xem radio button nào được check -->
        <Script>
          $('#editQuestionForm input').on('change', function() {
            var radioB = $('input[name=flexRadioDefault]:checked', '#editQuestionForm').val()


            document.getElementById('radioChoiceUpdateQuestion').setAttribute("value", radioB)

          }
          )

   
        </Script>

      <Script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
'use strict'

// Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.querySelectorAll('.needs-validation')

// Loop over them and prevent submission
Array.prototype.slice.call(forms)
  .forEach(function (form) {
    form.addEventListener('submit', function (event) {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
      </Script>
        
    
    

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-danger" name="deleteQuestionBtn" value="{{question.id}}">Xóa câu hỏi</button>
        <button type="submit" class="btn btn-primary" name="updateQuestionBtn"  value="{{question.id}}">Cập nhập câu hỏi</button>
      </div>

    </form>


    </div>
  </div>
</div>

{% endfor %}

                        </ol>
                    </p>
                </div>
            </div>


  
  <!-- Modal -->
  <div class="modal fade" id="addQuestionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm câu hỏi</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" id="addQuestionForm" class="needs-validation" novalidate>
          {% csrf_token %}
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Câu hỏi</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="questionTitle" required></textarea>
            <div class="invalid-feedback">
              Thêm nội dung câu hỏi
            </div>
          </div>
<p>Câu trả lời - Tích chọn vào câu trả lời đúng</p>
    
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="choice1" required>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="choice1" required></textarea>
              <div class="invalid-feedback">
                Thêm câu trả lời
              </div>
          </div>
 
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="choice2" required>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="choice2" required></textarea>
              <div class="invalid-feedback">
                Thêm câu trả lời
              </div>
          </div>
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" value="choice3" required>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="choice3" required></textarea>
              <div class="invalid-feedback">
                Thêm câu trả lời
              </div>
          </div>
      
          <div class="form-check mt-2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" value="choice4" required>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="choice4" required></textarea>
              <div class="invalid-feedback">
                Thêm câu trả lời
              </div>
          </div>
          <input type="hidden" name="radioChoice" id="radioChoice1">


 <!-- Xem radio button nào được check -->
          <Script>
            $('#addQuestionForm input').on('change', function() {
              var radioB = $('input[name=flexRadioDefault]:checked', '#addQuestionForm').val()


              document.getElementById('radioChoice1').setAttribute("value", radioB)

            }
            )

     
          </Script>

        <Script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
        </Script>
          
      
      

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" name="addQuestionBtn">Save changes</button>
        </div>

      </form>
      </div>
    </div>
  </div>


        </div>


    </div>



</div>
{% endblock %}