{% extends 'base.html' %}
{% block content %}
{% load static %}
<div  style="position: relative; height: 400px; overflow-y: scroll;" data-bs-spy="scroll" data-bs-target="#navbar-example">
    <div id="navbar-example">
    <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
        <a class="navbar-brand" href="#">Navbar</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" href="#item-1">Item 1</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
            <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
          </nav>
          <a class="nav-link" href="#item-2">Item 2</a>
          <a class="nav-link" href="#item-3">Item 3</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
            <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
          </nav>
        </nav>
      </nav>
      
      <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
        <h4 id="item-1">Item 1</h4>
        <p>...</p>
        <h5 id="item-1-1">Item 1-1</h5>
        <p>...</p>
        <h5 id="item-1-2">Item 1-2</h5>
        <p>...</p>
        <h4 id="item-2">Item 2</h4>
        <p>...</p>
        <h4 id="item-3">Item 3</h4>
        <p>...</p>
        <h5 id="item-3-1">Item 3-1</h5>
        <p>...</p>
        <h5 id="item-3-2">Item 3-2</h5>
        <p>...</p>
      </div>

    </div>
            </div>

            <script>
                var scrollSpy = new bootstrap.ScrollSpy(document.div, {
  target: '#navbar-example'
})
            </script>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-4 bg-light border rounded p-4">
            <h4 class="mb-4">{{ questions.0.exam_c.subject.title }} / {{ questions.0.exam_c.title }}</h4>

            <p>{{ studentexam.joined }}</p>

            <hr>

        </div>

        <div class="col-8">
    
            {% for question in questions %}
            <div class="row">
                <div class="col-12">
<div class="card mb-4 rouded shadow-sm " id="question{{question.id}}">

    <div class="card-header">
        Câu số {{ forloop.counter }}
      </div>
    
    <div class="card-body">

    <h6 class="card-title">{{ question.title }}</h6>
    <hr>
<div class="row">
            {% for choice in question.choice_set.all %}
            <div class="col-6">

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault{{question.id}}" id="flexRadioDefault{{choice.id}}">
                    <label class="form-check-label" for="flexRadioDefault{{choice.id}}">
                        {{ choice.title }}
                    </label>
                  </div>

                
            </div>
            {% endfor %}
        </div>

        </div>
        </div>
  
            {% endfor %}
        </div>
        </div>
        </div>



    </div>



</div>



 
{% endblock %}