{% extends 'base.html' %}
{% block content %}
{% load static %}

<script>
    var body = document.getElementsByTagName("body")[0];
    body.style.position = 'relative';
    body.setAttribute("data-bs-spy", "scroll");
    body.setAttribute("data-bs-target", "#list-example");
    body.setAttribute("data-bs-offset", "0");
    body.setAttribute("tabindex", "0");
</script>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-3 bg-light border rounded" >
            <div class="sticky-top pt-4">

                {% load humanize%}
           
            <h4 class="mb-4 mt-5">{{ questions.0.exam_c.subject.title }} / {{ questions.0.exam_c.title }}</h4>
            <ul><li>Người tạo: {{ studentexam.exam.teacher }}</li>
                <li>Thời gian làm bài thi: {{ studentexam.exam.duration }} phút</li>
                <li>Thời gian tham gia thi: {{ studentexam.joined }}</li>
                <li>Thời gian hết giờ thi: {{ end_time }}</li>
                <li>Thời gian đã thi: {{ studentexam.joined|naturaltime }} </li>

                <li>Thời gian còn lại: {{ limit_time }} phút</li>
                <li>Đã trả lời: {{ studentexam.studentexamquestion_set.count }}/{{questions.count}}</li>
            </ul>
            {% if studentexam.is_finish %}
            <h6>Trả lời đúng: {{correct_choices.count}}/{{questions.count}} </h6>

            <div class="progress mb-4">
                <div class="progress-bar" role="progressbar" style="width: {% widthratio correct_choices.count questions.count 100 %}%;" aria-valuenow="{{ correct_choices.count }}" aria-valuemin="0" aria-valuemax="{{questions.count}}">{% widthratio correct_choices.count questions.count 100 %}%</div>
              </div>

            {% else %}
            {% if  is_acept_test  %}
            <p>Bạn sẽ không có quyền lưu đáp án khi hết giờ thi. Nhấn Nạp bài thi để hoàn thành phần thi của mình.</p>
            {% else %}
            <p class="text-danger">Hết giờ thi. Nhấn Nạp bài thi để hoàn thành phần thi của mình.</p>

            {% endif %}
            {% endif %}

            <form  method="post">
                {% csrf_token %}
            <button class="btn btn-success btn-lg
            {% if studentexam.is_finish %}
            disabled
            {% endif %}
            " type="submit" name="finishExamBtn" value="{{exam.id}}">Nạp bài thi</button>
        </form>

            <hr>

            <div id="list-example" class="list-group mb-5">
                {% for question in questions %}
                <a class="list-group-item list-group-item-action 

                {% if question.studentexamquestion_set.all.0.student_choice.id %}
                list-group-item-success
                {% endif %}

                

                " href="#question{{ forloop.counter }}">Câu số {{ forloop.counter }}</a>
                {% endfor %}
              </div>
            </div>
        </div>

        <div class="col" >

    
            {% for question in questions %}
            <div class="row" >
                <div class="col-12">
<div class="card mb-3 rouded shadow-sm 




" id="question{{ forloop.counter }}"  >
    <form method="post">
        {% csrf_token %}


    <div class="card-header   " >
     <h5 >Câu số {{ forloop.counter }}</h5>   
      </div>
    
    <div class="card-body">

    <h6 class="card-title">{{ question.title }}</h6>
    <hr>
<div class="row">
            {% for choice in question.choice_set.all %}

            <div class="col-6">


                <div class="form-check mb-2
                ">
                    <input class="form-check-input" type="radio" name="flexRadioDefault{{question.id}}" id="flexRadioDefault{{choice.id}}" value="{{ choice.id }}"
                    {% if question.studentexamquestion_set.all.0.student_choice.id == choice.id %}
                    checked
                    {% endif %}
                    >
                    <label class="form-check-label
                    " for="flexRadioDefault{{choice.id}}">
               
                    
                    
                                  
                    {% if studentexam.is_finish %}

                    {% if choice.is_correct %}

                    <h6 class="text-success">{{ choice.title }}
                        {% if question.studentexamquestion_set.all.0.student_choice.id == choice.id %}
                        (Đúng)
                        {% endif %}
                        </h6>
                    {% else %}
                   
                        
                        {% if question.studentexamquestion_set.all.0.student_choice.id == choice.id %}
                        <h6 class="text-danger">
                        {{ choice.title }}
                        (Sai)
                        </h6>
                        {% else %}
                        <h6>
                        {{ choice.title }}
                    </h6>
                        {% endif %}
                        
                   

                    {% endif %}

                    {% else %}
                    {{ choice.title }}
                    {% endif %}
                        
                    </label>
                  </div>
                  

                
            </div>
            {% endfor %}
        </div>

        </div>
        <div class="card-footer">
            <button type="submit"  class="btn btn-primary
            {% if not is_acept_test %}
            disabled
            {% endif %}
            {% if studentexam.is_finish %}
            disabled
            {% endif %}
            " name="saveChoiceBtn" id="IDsavechoiceBtn" onclick="radioValueFunction()" value="{{question.id}}">Lưu đáp án</button>
        </div>
        </form>
        </div>
  
            {% endfor %}
        </div>
        </div>

    </div>

    </div>



</div>



 
{% endblock %}