{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
  <div class="row">

    <div class="col-12 mb-3">

      
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Thêm bài thi
</button>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm bài thi</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form method="post">
              {% csrf_token %}
              {{ form }}
              <input type="submit" value="Submit">
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% if messages %}

  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
      <strong>Thêm bài thi thành công!</strong> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

  {% endfor %}



{% endif %}

    </div>







<hr>
<table id="example" class="table table-striped" style="width:100%">
  <thead>
      <tr>
          <th>ID</th>
          <th>Tên bài thi</th>
          <th>Môn thi</th>
          <th>Người tạo</th>
          <th>Ngày tạo</th>
      </tr>
  </thead>
  <tbody>
    {% for exam in exams %}
      <tr>
          <td>{{ exam.id }}</td>
          <td> <a href="{% url 'exam' exam.id %}"> {{ exam.title }} </a>  </td>
          <td> {{ exam.subject.title }} </td>
          <td>{{ exam.teacher }}</td>
          <td>{{ exam.date_created}}</td>
      </tr>
    {% endfor %}

      </tbody>
      </table>

<script>
  $(document).ready(function() {
    $('#example').DataTable();
} );
</script>

 
</div>
</div>
{% endblock %}