{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
  <div class="row">

    <div class="col-12 mb-3">

      <h5>Danh sách bài thi môn: {{ subject.title }}</h5>
      <hr>

      
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Thêm bài thi
</button>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm bài thi vào {{ subject.title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
      <div class="modal-body">
         
              {% csrf_token %}

              <div class="mb-3">
                <label class="form-label" for="{{ form.title.auto_id }}">{{ form.title.label }}</label>
                {{ form.title }}
                <label class="form-label mt-3" for="{{ form.duration.auto_id }}">{{ form.duration.label }}</label>
                {{ form.duration }}

                <label class="form-label mt-3" for="schedule_open">Thời điểm bắt đầu mở thi</label>

                <input type="datetime-local" id="schedule_open"  name="schedule_open" class="form-control">
                <label class="form-label mt-3" for="schedule_close">Thời điểm đóng bài thi</label>

                <input type="datetime-local" id="schedule_close" name="schedule_close" class="form-control">

                {{ form.subject }}
                {{ form.teacher }}
                {{ form.status }}
        
              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-primary">Thêm bài thi</button>
      </div>

    </form>
    </div>
  </div>
</div>

{% if messages %}

  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
      <strong>Thêm bài thi thành công!</strong> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

  {% endfor %}



{% endif %}

    </div>







<div class="table-responsive">
<table id="example" class="table table-bordered table-hover" style="width:100%">
  <thead>
      <tr>
          <th>ID</th>
          <th>Tên bài thi</th>
          <th>Trạng thái</th>
          <th>Người tạo</th>
          <th>Ngày tạo</th>
      </tr>
  </thead>
  <tbody>
    {% for exam in exams %}
      <tr>
          <td>{{ exam.id }}</td>
          <td> <a href="{% url 'exam' exam.id %}" class="text-decoration-none"> {{ exam.title }} </a>  </td>
          <td>{{ exam.get_status_display }}</td>
          <td>{{ exam.teacher }}</td>
          <td>{{ exam.date_created}}</td>
      </tr>
    {% endfor %}

      </tbody>
      </table>

    </div>

<script>
  $(document).ready(function() {
    $('#example').DataTable(
      {
        "order": [[ 0, 'desc' ]]
      }
    );
} );
</script>

 
</div>
</div>
{% endblock %}